.defaultContainer {
  height: 49px;

  display: flex;
  align-items: center;
}

.narrowContainer {
  width: 70px;
  justify-content: space-between;
}

.wideContainer {
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid var(--color-gray-500-card);
}

/*BtnBox도 디폴트 만들기?*/
.narrowBtnBox {
  width: 30px;
  height: 49px;
}

.wideBtnBox {
  width: 50px;
  height: 49px;
}
