.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 0 18px;
}

.locationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding: 0 18px;
}

.black {
  background: var(--color-gray-700-bg);
  position: absolute;
}

.white {
  background: var(--color-white);
  position: fixed;
}

.modalCloseBox {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  height: 55px;
}

.modalClose {
  width: 32px;
  height: 32px;
}
