.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  color: var(--white-color);
}

.box {
  margin-bottom: 60px;
}

.imgBox {
  width: 375px;
  height: 188px;
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clickedBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 350px;
  height: 296px;
  font-size: 14px;
  font-family: 'Regular';
  margin-top: 4px;
}

.GenreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  border-radius: 5px;
  margin: 10px 10px 0 0;
}

.clickedBeforeBox {
  color: var(--text-color-second);
  border: 1px solid var(--tab-bar-color);
}

.clickedAfterBox {
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

.GenreBox:hover {
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

.shortBox {
  width: 77px;
}

.longBox {
  width: 106px;
}

.required {
  display: flex;
  flex-direction: row;
}

.maximum {
  display: flex;
  flex-direction: row;
  width: 339px;
  justify-content: space-between;
}

.text {
  font-size: 16px;
  font-family: 'SemiBold';
  margin-bottom: 14px;
}

.smallTexts {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.smallText {
  font-size: 12px;
  font-family: 'Regular';
  color: var(--text-color-second);
}

.pointText {
  color: var(--main-color);
}

.spacing {
  margin-right: 2px;
}

.inputList {
  margin-bottom: 94px;
}

.inputs {
  width: 339px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  font-size: 14px;
  font-family: 'Regular';
  color: var(--white-color);
  border: none;
  border-bottom: 1px solid var(--text-color-fourth);
  outline: none;
  background: transparent;
}

.input::placeholder {
  color: var(--text-color-fourth);
}

.input:focus {
  border-bottom: 1px solid var(--white-color);
}

.textarea {
  resize: none;
  line-height: 150%;
}

.long {
  width: 339px;
}

.mid {
  width: 243px;
}

.short {
  width: 83px;
}

.errorMsg {
  font-size: 12px;
  font-family: 'Regular';
  color: var(--error-color);
  margin-top: 8px;
}

.genre {
  width: 339px;
  font-size: 14px;
  font-family: 'Regular';
  color: var(--text-color-fourth);
  padding: 0;
  appearance: none;
}

.before {
  background: url('../../public/icons/arrow.svg') no-repeat right center;
}

.after {
  background: url('../../public/icons/after-arrow.svg') no-repeat right center;
}

.image {
  border-radius: 100%;
  margin-bottom: 14px;
}

.inputFile {
  display: none;
}

.imgButton {
  width: 110px;
  height: 33px;
  border: 1px solid var(--tab-bar-color);
  border-radius: 30px;
  font-size: 14px;
  color: var(--text-color-first);
  font-family: 'SemiBold';
}

.blank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 339px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23454751FF' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 5px;
  color: var(--tab-bar-color);
  font-size: 16px;
  font-family: 'SemiBold';
  cursor: pointer;
}

.video {
  width: 339px;
  height: 164px;
  border: none;
  border-radius: 5px;
}

.videoButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 117px;
}

.dot {
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.deleteVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 37px;
  border-radius: 4px;
  background: var(--card-color);
  color: var(--text-color-first);
  font-family: 'SemiBold';
  font-size: 14px;
  cursor: pointer;
}

.hashTags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 339px;
  margin: -60px 0 60px 0;
}

.hashTagBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 29px;
  border-radius: 51px;
  border: 1px solid var(--tab-bar-color);
  background: var(--card-color);
  margin: 14px 6px 0 0;
}

.hashTag {
  font-family: 'Regular';
  font-size: 14px;
  color: var(--text-color-first);
  margin-left: 10px;
}

.deleteHashTag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 4px;
  cursor: pointer;
}

.addAward {
  height: 50px;
  margin-top: 20px;
}

.awardButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 107px;
}

.bottom {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 124px;
}
