.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  color: var(--white-color);
}

.box {
  margin-bottom: 60px;
}

.imgBox {
  width: 375px;
  height: 188px;
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clickedBoxs {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 338px;
  height: 296px;
  font-size: 14px;
  font-family: 'Regular';
  color: var(--text-color-second);
  margin-top: 14px;
}

.clickedBox {
  display: flex;
  flex-direction: row;
  height: 41px;
  margin-bottom: 10px;
}

.shortGenreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 77px;
  border: 1px solid var(--tab-bar-color);
  border-radius: 5px;
  margin-right: 10px;
}

.longGenreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 41px;
  width: 106px;
  border: 1px solid var(--tab-bar-color);
  border-radius: 5px;
  margin-right: 10px;
}

.required {
  display: flex;
  flex-direction: row;
}

.maximum {
  display: flex;
  flex-direction: row;
  width: 339px;
  justify-content: space-between;
}

.text {
  font-size: 16px;
  font-family: 'SemiBold';
  margin-bottom: 14px;
}

.smallTexts {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.smallText {
  font-size: 12px;
  font-family: 'Regular';
  color: var(--text-color-second);
}

.pointText {
  color: var(--main-color);
}

.spacing {
  margin-right: 2px;
}

.inputs {
  width: 339px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  height: 30px;
  font-size: 14px;
  font-family: 'Regular';
  color: var(--white-color);
  border: none;
  border-bottom: 1px solid var(--text-color-fourth);
  outline: none;
  background: transparent;
}

.input::placeholder {
  color: var(--text-color-fourth);
}

.input:focus {
  border-bottom: 1px solid var(--white-color);
}

.textarea {
  resize: none;
  line-height: 150%;
}

.long {
  width: 339px;
}

.mid {
  width: 243px;
}

.short {
  width: 83px;
}

.errorMsg {
  font-size: 12px;
  font-family: 'Regular';
  color: var(--error-color);
  margin-top: 8px;
}

.genre {
  width: 339px;
  font-size: 14px;
  font-family: 'Regular';
  color: var(--text-color-fourth);
  appearance: none;
}

.before {
  background: url('../assets/icons/arrow.svg') no-repeat right center;
}

.after {
  background: url('../assets/icons/after-arrow.svg') no-repeat right center;
}

.image {
  border-radius: 100%;
  margin-bottom: 14px;
}

.inputFile {
  display: none;
}

.imgButton {
  width: 110px;
  height: 33px;
  border: 1px solid var(--tab-bar-color);
  border-radius: 30px;
  font-size: 14px;
  color: var(--text-color-first);
  font-family: 'SemiBold';
}

.blankVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 339px;
  height: 164px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='%23454751FF' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 5px;
  color: var(--tab-bar-color);
  font-size: 16px;
  font-family: 'SemiBold';
  cursor: pointer;
}

.video {
  width: 339px;
  height: 164px;
  border: none;
  border-radius: 5px;
}

.videoButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 117px;
}
