.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  color: var(--white-color);
}

.box {
  margin-bottom: 60px;
}

.imgBox {
  width: 375px;
  height: 188px;
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 16px;
  font-family: 'SemiBold';
  margin-bottom: 14px;
}

.inputs {
  width: 339px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input {
  height: 30px;
  font-size: 14px;
  font-family: 'Regular';
  color: var(--text-color-fourth);
  border: none;
  border-bottom: 1px solid var(--text-color-fourth);
  outline: none;
  background: transparent;
}

.input:focus {
  border-bottom: 1px solid var(--white-color);
}

.long {
  width: 339px;
}

.mid {
  width: 243px;
}

.short {
  width: 83px;
}

.image {
  border-radius: 100%;
  margin-bottom: 14px;
}

.inputImg {
  display: none;
}

.imgButton {
  width: 110px;
  height: 33px;
  border: 1px solid var(--tab-bar-color);
  border-radius: 30px;
  font-size: 14px;
  color: var(--text-color-first);
  font-family: 'SemiBold';
}
