.container {
  position: relative;

  width: 100%;
  height: 271px;
}

.titleBox {
  position: absolute;

  width: 100%;
  height: 52px;

  padding: 0 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dancerBox {
  display: flex;
  align-items: center;
}

.profileImg {
  width: 32.31px;
  height: 32.31px;
  border-radius: 50%;
}

.dancerName {
  color: white;

  margin-left: 9px;
}

/*
.textBox {
  color: white;

  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  white-space: nowrap;
  overflow-x: scroll;
}
*/

.video {
  width: 100%;
  height: 271px;
}

.InfoBox {
  position: absolute;
  bottom: 0;

  width: 100%;
  /*height: 80px;*/

  padding: 0 18px;

  display: flex;
  flex-direction: column;
}

.genreBox {
  height: 22px;
  display: flex;
  align-items: center;
}

.genreChipDivider {
  width: 6px;
}

.classTitle {
  color: white;

  padding: 6px 0;
  margin: 5px 0;
}

.bottomLineBox {
  color: var(--color-gray-200);

  display: flex;
  align-items: center;

  padding: 3px 0;
}
