.container {
  background-color: var(--color-gray-700-bg);

  padding: 0 18px;
  width: 100%;
  height: 55px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
}

.btn {
  cursor: pointer; /*-> 웹에서만 필요*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.blankImg {
  width: 38.5px;
  cursor: pointer;
}

.profileImg {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  cursor: pointer;
}
