.defaultContainer {
  background-color: var(--color-main-300);
  color: var(--color-main-100);

  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
}

.smallContainer {
  height: 22px;
  padding: 0 6px;

  border-radius: 4px;
}

.bigContainer {
  height: 29px;
  padding: 0 8px;

  border-radius: 5px;
}
