.defaultContainer {
  width: 100%;
  height: 55px;

  padding: 0 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  z-index: 100; /*헤더가 맨 앞으로 오도록*/
}

.blackContainer {
  background-color: var(--color-gray-700-bg);
}

.grayContainer {
  background-color: #17171b;
}
